@import "../../variables";
@import "../../mixins";

.main {
  display: flex;
  flex: 1 0 auto;
  background-color: $main-bg;

  &__wrapper {
    @include wrapper();
    display: flex;
    flex-direction: column;
  }

}
