@import "../../../../variables";

.button {
  margin-bottom: 30px;
}

.nav-tab {
  ul {
    display: flex;
    margin-bottom: 20px;
    li {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.tab-content {
  margin-bottom: 50px;
}
