.tasks {
  a {
    text-decoration: none;
    color: #fff;
  }

  .done a {
    text-decoration: line-through;
  }

  .progress a{
    text-decoration: underline;
  }

  li {
    span {
      margin: 0 0 0 10px;
      cursor: pointer;
    }
  }
}
