@import "../../variables";

.section {
  flex-basis: 70%;
  background-color: $section-bg;
  border-radius: 5px;
  padding: 40px 20px;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    color: #333333;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 20px;
  }

}
