@import "../../../variables";

.section {

  &__locate-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__locate-text {
    color: #333;
    font-size: 1rem;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }

}
