.playGround {
  margin: 0 auto;

  .ground {

    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
  }

  .cell {
    cursor: pointer;
    flex-basis: 33%;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 60px;
    background-color: #fff;
    color: #000;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

