@import "../../../variables";

.numbers__list {
  display: flex;
  padding-left: 20px;
  margin-bottom: 30px;
  list-style: circle;

  &-item {
    font-size: 1.1rem;
    color: #333333;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }

}