.header__nav {
    &-list {
        display: flex;
    }
    &-item {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        font-size: 1.1rem;
        color: #00dff8;
        transition: 0.3s;
        &:hover {
            color: darken(#00dff8, 10%);
        }
    }

}

