@import "variables";

body {
  font: $font;
  background-color: $general-bg;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
}


/* ------> Begin reset styles <------- */
h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img:focus, a:focus {
  outline: none;
}
input, button, select, option {
  outline: none;
  &:focus {
    outline: none;
  }
}
a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
input, textarea, select, button, option {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='submit'], button {
  cursor: pointer;
  outline: none;
  &:focus {
    outline: none;
  }
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
address {
  font-style: normal;
}
/* ------> End reset styles <------- */